{
    "appenders": {
        "app" : {
            "type": "file",
            "filename": "log/budgie.log",
            "maxLogSize": 1000000,
            "backups": 3,
            "layout": {
                "type": "basic"
            }
        }
    },
    "categories": {
        "default": {
            "appenders": ["app"],
            "level": "info"
        },
        "debugLog": {
            "appenders": ["app"],
            "level": "debug"
        }
    }
}